body {
  font: 12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  margin-top: 200px;
}

.check {
  background-color: #f9fafc;
  text-align: left;
  margin: 20px 0;
  border: 1px solid #dadcdf;
  border-radius: 3px;
  padding: 8px 20px;
  width: 242px;
}

.forgotpass {
  color: #0272a2;
  display: inline-block;
  font-weight: 700;
  text-decoration: underline;
  margin: 22px 8px 5px 29px;
}

#container {
  display: flex;
  justify-content: center;
  color: #444;
  margin-bottom: 119px;
}
h1 {
  font-size: 20px;
  margin: 0 0 12px;
  line-height: 26px;
}

.right-section {
  display: flex;
}
.left-section {
  display: flex;
  margin: 0px 63px -115px 0px;
}
h5 {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: lighter;
}
input[type="text"],
input[type="password"],
input[type="email"] {
    width: 251px;
    padding: 9px 15px;
  padding: 7px 15px;
  background: #fff;
  color: #444;
  font-weight: bold;
  border: 1px solid #d5d7d8;
  border-radius: 3px;
  vertical-align: bottom;
}

input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button {
  font-family: inherit;
  background-color: #0272A2;
  display: block;
  width: 80%;
  padding: 11px 15px;
  color: #fff;
  text-shadow: 0 -px 0 rgb(0 0 0 / 30%);
  margin-left: 27px;
  margin-top: 29px;
  border: 1px solid #d5d7d8;
  text-align: center;
  border-radius: 3px;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.1s ease-in-out;
  position: relative;
  cursor: pointer;
}
#loginForm > button {
  background-color: #27865f;
  display: block;
  width: 90%;
  padding: 11px 15px;
  color: #fff;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 30%);
  border: 1px solid #d5d7d8;
  text-align: center;
  border-radius: 3px;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.1s ease-in-out;
  position: relative;
  cursor: pointer;
  margin-left: 13px;
  margin-top: 29px;
}
#btnC {
  color: black;
  background-color: rgb(253, 250, 250);
  margin-bottom: 28px;
}
.create-terms {
  text-align: center;
  width: 20%;
  margin-left: 472px;
  margin-top: 29px;
}
a {
  color: black;
  font-weight: bold;
}
.create-terms > p {
  margin-top: 5px;
}
#footer{
    text-align: center;
    width: 16%;
    margin-left: 240px;
    margin-top: 73px;
}

