*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#containerProduct{

    /* border: 1px solid red; */
    width: 60%;
    /* height: 500px; */
    margin: 170px auto auto 300px;
    padding: 10px;
    display: flex;
    justify-content: space-between
}
.first, .second{
    border: 2px solid black;
    width: 45%;
    height: 100%;
    padding: 10px;
}
.first{
    background-color: azure;
}

.second{ 
    height: 100%;
    padding-bottom: 50px;
} 
#footerProduct{
    background-color: #535658;
    position: fixed;
    bottom: 0;
    width: 100%;
    
    height: 80px;
    color: white;
    text-align: center;
    justify-content: center;
}
#footerProduct p{
    width: 20%;
    margin: 20px auto;
}
