#main-furniture{
    font-family: sans-serif;
    padding-top: 150px;
}
#furniture{
    display: flex;
    font-size: large;
    line-height: 35px;
    margin-top: 50px;
}
#furniture>div:nth-child(1){
    width: 25%;
}
li{
    cursor: pointer;
}
#furniture>div:nth-child(2){
  width: 50%;
  height: 650px;
}

#furniture>div:nth-child(3){
  width: 25%;
  height: 650px;
}
#furniture>div:nth-child(3)>img{
    width: 95%;
    height: 49%;
    margin-left: 20px;
}
.discount{
    width: 100%;
    height: 100%;
}
#Popular_furniture{
    display: grid;
    width: 95%;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,400px);
    gap: 10px;
    text-align: center;
} 
#tvstand{
    display: flex;
    margin-top:50px;
}
#tvstand>div:nth-child(1){
      margin-left:20px;
}
#tvstand>div:nth-child(2){
    margin-left: 20px;
    margin-top: 10px;
}
#read_more{
    padding: 20px;
    font-size: large;
    margin-top: 20px;
    width: 140px;
    
    /* border-radius: 5px;
    border-color: aliceblue; */
}
#blackfurniture{
    display: flex;
    margin-top:50px;
}
#blackfurniture>div:nth-child(1){
    margin-left: 20px;
}
#more_furniture{
   display: grid;
   grid-template-columns: repeat(6,1fr);
   grid-template-rows: repeat(3,250px);
   text-align: center;
   gap: 10px;
}